{% extends 'base.html.twig' %}

{% block title %}Edit my profile{% endblock %}

{% block body %}
	<h1 class="text-center text-primary mt-5 p-2">Edit my profile</h1>
	<div class="w-50 mx-auto my-5 d-flex flex-column">
		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.firstName) }}
		{{ form_row(registrationForm.lastName) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
		{{ form_row(registrationForm.skills) }}
		{{ form_row(registrationForm.agency) }}
		{{ form_row(registrationForm.bio) }}
		{{ form_row(registrationForm.photo) }}
		{{ form_row(registrationForm.agreeTerms) }}
		<button type="submit" class="btn btn-lg mt-1 btn-secondary">Edit</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
