<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand justify-content-center" href="#">
      <img class="w-75" src="{{ asset('build/images/favicon.png') }}" alt="apsidelogo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="">
          <i class="bi bi-person"></i>
        </span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
            <img class="w-50" src="{{ asset('build/images/favicon.png') }}" alt="apsidelogo"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <div class="d-flex flex-column mb-3">
              {% if app.user %}
                <div class="d-flex justify-content-center mb-3">
                  {{ app.user.firstname }}
                  {{ app.user.lastname }}
                </div>
                <div class="d-flex justify-content-center mb-3">
                  <img class="w-50" src="{{ asset('build/images/photo.jpg') }}" alt="photo user"></div>
                  <div class="d-flex justify-content-center">
                    {{ app.user.points }}
                    points
                                    
                  </div>
                {% endif %}
              </div>
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item d-flex justify-content-center">
                  <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house-fill"></i>
                    Home      
                  </a>
                </li>
                <li class="nav-item d-flex justify-content-center">
                  <a class="nav-link" href="#"><i class="bi bi-folder-fill"></i>
                    Projets                 
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      