{% extends 'base.html.twig' %}

{% block title %}Project index
{% endblock %}

{% block body %}
	<h1 class="text-center mt-5">Project index</h1>

	<table class="table container">
		<thead>
			<tr>
				<th>Name</th>
				<th>Team</th>
				<th>Picture1</th>
				<th>Image2</th>
				<th>Image3</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for project in projects %}
				<tr>
					<td>{{ project.name }}</td>
					<td>{{ project.team }}</td>
					<td>{{ project.picture1 }}</td>
					<td>{{ project.image2 }}</td>
					<td>{{ project.image3 }}</td>
					<td>
						<a class="btn btn-md mt-1 btn-outline-secondary" href="{{ path('project_show', {'id': project.id}) }}">Show</a>
						{% if is_granted('ROLE_MASTERCHIEF') %}
							<a href="{{ path('project_edit', {'id': project.id}) }}">Edit</a>
						{% endif %}
					</td>
				</tr>
			</td>
		</tbody>
	</tr>
{% else %}
	<tr>
		<td colspan="8">no records found</td>
	</tr>
{% endfor %}</tbody></table>{% if is_granted('ROLE_MASTERCHIEF') %}<a href="{{ path('project_new') }}">Create new</a>{% endif %}{% endblock %}
